:host {
    width: 100%;
}

ul {
    list-style: none;
    width: 100%;
    padding: 2%;
    /* text-align: left; */
}

.input-data {
    overflow-wrap: break-word;
    text-align: justify;
    padding-right: 2%;
}

.items {
    width: 100%;
}

.checkbox {
    margin: 3%;
    height: 15px;
}

li {
    display: flex;
    margin: 2%;
    background-color: #CBF1F5;
    border-radius: 10px;
    align-items: center;
    padding: 2%;
}

li:hover {
    background-color: #d8fcff;
}

.delete-item {
    margin: 2%;
    margin-left: auto;
    color: white;
    padding: 0 1%;
    background-color: rgb(255, 56, 56);
    border-radius: 5px;
}

// .edit-item {
//     margin: 0;
//     margin-left: auto;
//     width: 15px;
//     border-radius: 5px;
// }

.line-through {
    text-decoration: line-through;
    color: gray;
}