.todo-container {
    width: 35%;
    margin: 5% auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #A6E3E9;
    border-radius: 15px;
    box-shadow: gray 2px 2px;
}

.todo-header {
    text-align: center;
    color: black;
}