.todo-container {
    width: 35%;
    margin: 5% auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #A6E3E9;
    border-radius: 15px;
    box-shadow: gray 2px 2px;
}

.todo-header {
    text-align: center;
    color: black;
}

.input-field {
    width: 100%;
    height: 100%;
}

#input {
    width: 75%;
    margin-left: 5%;
    height: 30px;
    border: 0;
    border-radius: 15px;
    padding: 2%;
}

.addButton {
    border-radius: 20px;
    font-size: 1.5rem;
    margin-left: 3%;
    padding: 1% 3%;
    background-color: #3FC1C9;
    color: white;
    border-color: #3FC1C9;
}

.addButton:hover {
    background-color: #76e1e4;
}

ul {
    list-style: none;
    width: 100%;
    padding: 2%;
    /* text-align: left; */
}

.input-data {
    overflow-wrap: break-word;
    text-align: justify;
    padding-right: 2%;
}

.items {
    width: 100%;
}

.checkbox {
    margin: 3%;
    height: 15px;
}

li {
    display: flex;
    margin: 2%;
    background-color: #CBF1F5;
    border-radius: 10px;
    align-items: center;
    padding: 2%;
}

li:hover {
    background-color: #d8fcff;
}

.delete-item {
    margin: 2%;
    margin-left: auto;
    color: white;
    padding: 0 1%;
    background-color: rgb(255, 56, 56);
    border-radius: 5px;
}

// .edit-item {
//     margin: 0;
//     margin-left: auto;
//     width: 15px;
//     border-radius: 5px;
// }

.line-through {
    text-decoration: line-through;
    color: gray;
}